*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 80%;
    min-width: 720px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
@media (max-width: 720px){
    .container{
        width: 100%;
        /* padding: 20px; */
    }
}
.profile{
    margin-top: 100px;
}
.profile .profile__avatar{
    background-image: url('arya-photo-profile.jpg');
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
}
.profile .profile__right-container{
    padding: 60px;
    float: left;
}
.profile .profile__title h1{
    font-size: 50px;
}
.profile .profile__text span{
    color: #333;
}